# Batch scripts must keep CRLF line endings to run correctly on Windows
*.bat text eol=crlf

# Binaries
*.exe binary

# Shell scripts must keep LF line endings to run correctly on Linux/macOS
*.sh text eol=lf
